ai/n8n/template/Data processing RAG agent.json
{
  "name": "Data processing RAG agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JtHfUWAD03qYh9GCv3peiRKU7-5EeMbc",
          "mode": "list",
          "cachedResultName": "CV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JtHfUWAD03qYh9GCv3peiRKU7-5EeMbc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        -160
      ],
      "id": "f7d80b49-5a56-4729-8d9f-ca7997071cdf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QNckpYPOqvCaRYl0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -976,
        -160
      ],
      "id": "0618ea92-35f6-4525-8b00-efacbc5d30f4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QNckpYPOqvCaRYl0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -736,
        -160
      ],
      "id": "33468a15-9593-4e3b-a01a-1d9550214a6d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "A6uLCYI666xQQXwR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -736,
        32
      ],
      "id": "dc313457-93df-4713-943c-73281c33de44",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "o7kCfQO73Q1FsCKI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -592,
        0
      ],
      "id": "d1f6038a-616e-498b-9f81-5730ecdc7f01",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -528,
        208
      ],
      "id": "158ea03f-f631-405b-8c5a-40ac8f62fb7b",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2651f6b6-0afe-47d0-9991-6a9b0c7a8235",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9804e6d7856e51862ab71241c526e1410c1caeb5b35968fb1c4553bfeafae876"
  },
  "id": "N5hjzbQcABjpdgdK",
  "tags": []
}